/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;;
}
:root {
    /* colors */
    --white-color: #fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#f3691c;
    --light-pink-color:#faf4f5;
    --medium-grey-color:#ccc;

    /* font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold:700;

    /* border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle:50%;

    /* site max widht */
    --site-max: 1300px;
}
ul {
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-contec{
    margin: 0 auto;
    padding:0 20px;
    max-width: var(--site-max);
}

.section-title{
    text-align: center;
    padding: 60px  100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color) ;

}
header .navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    font-size: var(--font-size-m);
   
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}

.hero-section {
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}
.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section  .hero-details .description{
    max-width: 70%;
    margin: 20px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}
.hero-section .hero-details .button {
    margin-top: 50px;
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}
.hero-section .hero-details .button:hover,
.hero-section .hero-details .Contac-us{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}
.hero-section .hero-details .Contac-us:hover{
    color:var(--primary-color);
    border-color:var(--secondary-color) ;
    background: var(--secondary-color);   
}
.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}
.about-section{
    padding: 120px 0;
    background: var(--light-pink-color)
}

.about-section .section-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-ddetails .section-title{
    padding: 0;
}

.about-section .about-ddetails{
    max-width: 50%;
}
.about-section .about-ddetails .text {
    line-height:  30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.menu-section{
    color: var(--white-color);
    background: var(--dark-color);

}

.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
}


.contac-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color); 
}

.contac-section .section-content{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.contac-section .contac-info-list .contac-info{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contac-section .contac-info-list .contac-info i{
    font-size: var(--font-size-m);
}

.contac-section .contac-form .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--white-color);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-grey-color);
}

.contac-section .contac-form .submit-buton{
    padding: 10px 26px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
}





